h1{

    font-family: 'Roboto', sans-serif;

    font-size: 60px;
}
.name-color{
    color: orange;
}

section{
 display: flex;
 margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left: 100px;
   
}
.half-width img{
    width:90%;
}

.link-button{
    text-decoration: none;
background-image: linear-gradient(tomato, green);    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    

}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
body{
    font-family: 'poppins', sans-serif;
    margin: 0px;
}
p{
    text-justify:newspaper;
    text-align: justify;

}
.dream-big{
    padding-right: 50px;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    background-position-y:bottom ;
}